@import '../../variables';

.page-type {

  .icon {
    color: #777;
  }

  .tooltip {
    position: fixed;
    border-radius: 2px;
    padding: 3px;
    background-color: #333;
    color: #EFEFEF;
    font-size: $text-size-small;
    white-space: nowrap;
    transition: opacity 0.5s;

    &.open {
      visibility: visible;
      opacity: 0.85;
    }

    &.closed {
      visibility: hidden;
      opacity: 0;
    }
  }
}