.edit-page-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  .edit-page-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80vw;
    max-width: 768px;
    min-height: 80vh;
    margin-top: calc(10vh - 50px);
    left: 10vw;
    border: 1px dashed #CCC;
    border-radius: 10px;
    background-color: #F9F9F9;
    padding: 50px;

    .header {
      display: flex;
      flex-direction: row;
      align-items: center;

      .btn-back {
        outline: none;
        border: 0;
        background: transparent;
        cursor: pointer;
        color: #333;
      }

      & > div {
        color: #333;
        margin-left: 15px;
      }
    }

    .ghost-page {

      .ghost-page__title {
        width: 480px;
        height: 35px;
        border-radius: 5px;
        background-color: #DDD;
        margin-top: 25px;
      }

      .ghost-page__description {
        width: 480px;
        height: 300px;
        border-radius: 5px;
        background-color: #DDD;
        margin-top: 25px;
      }
    }
  }

  &.dark {

    .edit-page-container {
      background-color: #222;
      border-color: #AAA;

      .btn-back {
        color: #EEE;
      }

      .header {

        & > div {
          color: #CCC;
        }
      }

      .ghost-page {

        .ghost-page__title {
          background-color: #333;
        }

        .ghost-page__description {
          background-color: #333;
        }
      }
    }
  }
}