@import '../../_variables';

.page.item {
  $pageItemWidth: 220px;
  $pageItemHeight: 250px;
  $pageItemBorderWidth: 1px;
  $pageItemBorderRadius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: $pageItemWidth - ($pageItemBorderWidth * 2);
  max-width: 100%;
  height: $pageItemHeight;
  border: $pageItemBorderWidth solid #EEE;
  border-radius: $pageItemBorderRadius;
  margin: 20px 10px;
  cursor: pointer;
  background-color: #F9F9F9;
  transition: background-color 0.333s;

  &:hover {
    border-color: #CCC;
    background-color: #FFF;

    .page__title-container {
      border-color: #CCC;
    }
  }

  .page__title-container {
    $pageTitleOffsetLeft: $pageItemBorderRadius * 0.75;

    width: $pageItemWidth - ($pageItemBorderWidth * 2) - $pageTitleOffsetLeft;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: $pageTitleOffsetLeft;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 1px solid #EEE;
    font-size: $text-size-normal;
    font-family: 'Varela Round';
    color: #343434;
    white-space: nowrap;
  }

  .page__title-ghost {
    width: 66.666%;
    height: 15px;
    background-color: #DDD;
    margin: 5px;
    border-radius: 2px;
  }

  .page__type-container {
    width: $pageItemWidth - ($pageItemBorderWidth * 2);
    text-align: center;
    width: 100%;

    i {
      font-size: 30px;
    }
  }

  .page__footer {
    width: $pageItemWidth - ($pageItemBorderWidth * 2);
    font-size: $text-size-small;
    color: #888;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    .page__publish-date-ghost {
      width: 50%;
      height: 10px;
      background-color: #DDD;
      margin: 5px;
      border-radius: 2px;
    }
  }

  &.dark {
    background-color: #222;
    border-color: #AAA;

    &:hover {
      border-color: #777;
      background-color: #444;

      .page__title-container {
        border-color: #777;
        color: #CCC;
      }
      
      .page__footer {
        color: #CCC;
      }
    }

    .page__title-container {
      color: #BBB;
      border-color: #AAA;

      .page__title-ghost {
        background-color: #444;
      }
    }

    .page__footer {
      color: #AAA;

      .page__publish-date-ghost {
        background-color: #444;
      }
    }
  }
}